$global-fontFamilies-inter-value: Inter;
$global-fontFamilies-inter-type: fontFamilies;
$global-lineHeights-0-value: AUTO;
$global-lineHeights-0-type: lineHeights;
$global-fontWeights-inter-0-value: Regular;
$global-fontWeights-inter-0-type: fontWeights;
$global-fontSize-0-value: 12;
$global-fontSize-0-type: fontSizes;
$global-letterSpacing-0-value: 0%;
$global-letterSpacing-0-type: letterSpacing;
$global-paragraphSpacing-0-value: 0;
$global-paragraphSpacing-0-type: paragraphSpacing;
$global-h1-type: typography;
$global-textCase-none-value: none;
$global-textCase-none-type: textCase;
$global-textDecoration-none-value: none;
$global-textDecoration-none-type: textDecoration;
$global-paragraphIndent-0-value: 0px;
$global-paragraphIndent-0-type: dimension;
$global-Primary-Primary-900-value: #701e00;
$global-Primary-Primary-900-type: color;
$global-Primary-Primary-900-description: Tokens\n\nbackground-button-pressed;
$global-Primary-Primary-700-value: #a83e00;
$global-Primary-Primary-700-type: color;
$global-Primary-Primary-700-description: Tokens\n\nbackground-button-pressed;
$global-Primary-Primary-500-value: #eb6d00;
$global-Primary-Primary-500-type: color;
$global-Primary-Primary-500-description: Tokens\n\nbackground-button-pressed;
$global-Primary-Primary-300-value: #f9ba62;
$global-Primary-Primary-300-type: color;
$global-Primary-Primary-300-description: Tokens\n\nbackground-button-pressed;
$global-Primary-Primary-100-value: #feeecd;
$global-Primary-Primary-100-type: color;
$global-Primary-Primary-100-description: Tokens\n\nbackground-button-pressed;
$global-Secondary-Secondary-900-value: #08407e;
$global-Secondary-Secondary-900-type: color;
$global-Secondary-Secondary-500-value: #106eb0;
$global-Secondary-Secondary-500-type: color;
$global-Secondary-Secondary-300-value: #69c1e7;
$global-Secondary-Secondary-300-type: color;
$global-Secondary-Secondary-100-value: #cdf2fb;
$global-Secondary-Secondary-100-type: color;
$global-Neutral-Neutral-900-value: #231d19;
$global-Neutral-Neutral-900-type: color;
$global-Neutral-Neutral-700-value: #56504c;
$global-Neutral-Neutral-700-type: color;
$global-Neutral-Neutral-500-value: #89837f;
$global-Neutral-Neutral-500-type: color;
$global-Neutral-Nautral-300-value: #bbb5b1;
$global-Neutral-Nautral-300-type: color;
$global-Neutral-Neutral-100-value: #efe9e5;
$global-Neutral-Neutral-100-type: color;
$global-Neutral-Neutral-25-value: #fffefe;
$global-Neutral-Neutral-25-type: color;
$global-Semantic-Error-Error-900-value: #570521;
$global-Semantic-Error-Error-900-type: color;
$global-Semantic-Error-Error-700-value: #830e22;
$global-Semantic-Error-Error-700-type: color;
$global-Semantic-Error-Error-500-value: #b71c1c;
$global-Semantic-Error-Error-500-type: color;
$global-Semantic-Error-Error-100-value: #fbdfd0;
$global-Semantic-Error-Error-100-type: color;
$global-Semantic-Error-Error-300-value: #e98772;
$global-Semantic-Error-Error-300-type: color;
$global-Semantic-Warning-Warning-900-value: #733f09;
$global-Semantic-Warning-Warning-900-type: color;
$global-Semantic-Warning-Warning-700-value: #ad6f17;
$global-Semantic-Warning-Warning-700-type: color;
$global-Semantic-Warning-Warning-500-value: #f1ae2f;
$global-Semantic-Warning-Warning-500-type: color;
$global-Semantic-Warning-Warning-300-value: #fad981;
$global-Semantic-Warning-Warning-300-type: color;
$global-Semantic-Warning-Warning-100-value: #fef5d5;
$global-Semantic-Warning-Warning-100-type: color;
$global-Semantic-Success-Success-900-value: #003a39;
$global-Semantic-Success-Success-900-type: color;
$global-Semantic-Success-Success-700-value: #005744;
$global-Semantic-Success-Success-700-type: color;
$global-Semantic-Success-Success-500-value: #007a47;
$global-Semantic-Success-Success-500-type: color;
$global-Semantic-Success-Success-300-value: #56d787;
$global-Semantic-Success-Success-300-type: color;
$global-Semantic-Success-Success-100-value: #c6f8cf;
$global-Semantic-Success-Success-100-type: color;
$global-Semantic-Support-Support-900-value: #032054;
$global-Semantic-Support-Support-900-type: color;
$global-Semantic-Support-Support-700-value: #08407e;
$global-Semantic-Support-Support-700-type: color;
$global-Semantic-Support-Support-500-value: #106eb0;
$global-Semantic-Support-Support-500-type: color;
$global-Semantic-Support-Support-300-value: #69c1e7;
$global-Semantic-Support-Support-300-type: color;
$global-Semantic-Support-Support-100-value: #cdf2fb;
