$global-Primary-Primary-900-value: #331100;
$global-Primary-Primary-900-type: color;
$global-Primary-Primary-900-description: Tokens\n\nbackground-button-pressed;
$global-Primary-Primary-700-value: #993300;
$global-Primary-Primary-700-type: color;
$global-Primary-Primary-700-description: Tokens\n\nbackground-button-pressed;
$global-Primary-Primary-500-value: #ff5500;
$global-Primary-Primary-500-type: color;
$global-Primary-Primary-500-description: Tokens\n\nbackground-button-pressed;
$global-Primary-Primary-300-value: #ff9966;
$global-Primary-Primary-300-type: color;
$global-Primary-Primary-300-description: Tokens\n\nbackground-button-pressed;
$global-Primary-Primary-100-value: #ffddcc;
$global-Primary-Primary-100-type: color;
$global-Primary-Primary-100-description: Tokens\n\nbackground-button-pressed;
$global-Secondary-Secondary-900-value: #031725;
$global-Secondary-Secondary-900-type: color;
$global-Secondary-Secondary-700-value: #ff0018;
$global-Secondary-Secondary-700-type: color;
$global-Secondary-Secondary-500-value: #106eb0;
$global-Secondary-Secondary-500-type: color;
$global-Secondary-Secondary-300-value: #52aeef;
$global-Secondary-Secondary-300-type: color;
$global-Secondary-Secondary-100-value: #c7e5fa;
$global-Secondary-Secondary-100-type: color;
$global-Neutral-Neutral-900-value: #0f0f0f;
$global-Neutral-Neutral-900-type: color;
$global-Neutral-Neutral-800-value: #1f1f1f;
$global-Neutral-Neutral-800-type: color;
$global-Neutral-Neutral-700-value: #404040;
$global-Neutral-Neutral-700-type: color;
$global-Neutral-Neutral-600-value: #808080;
$global-Neutral-Neutral-600-type: color;
$global-Neutral-Neutral-500-value: #9e9e9e;
$global-Neutral-Neutral-500-type: color;
$global-Neutral-Neutral-400-value: #b3b3b3;
$global-Neutral-Neutral-400-type: color;
$global-Neutral-Neutral-300-value: #c4c4c4;
$global-Neutral-Neutral-300-type: color;
$global-Neutral-Neutral-200-value: #d9d9d9;
$global-Neutral-Neutral-200-type: color;
$global-Neutral-Neutral-100-value: #ebebeb;
$global-Neutral-Neutral-100-type: color;
$global-Neutral-Neutral-50-value: #f5f5f5;
$global-Neutral-Neutral-50-type: color;
$global-Semantic-Error-Error-900-value: #570521;
$global-Semantic-Error-Error-900-type: color;
$global-Semantic-Error-Error-700-value: #830e22;
$global-Semantic-Error-Error-700-type: color;
$global-Semantic-Error-Error-500-value: #b71c1c;
$global-Semantic-Error-Error-500-type: color;
$global-Semantic-Error-Error-300-value: #ff9966;
$global-Semantic-Error-Error-300-type: color;
$global-Semantic-Error-Error-100-value: #fbdfd0;
$global-Semantic-Error-Error-100-type: color;
$global-Semantic-Warning-Warning-900-value: #733f09;
$global-Semantic-Warning-Warning-900-type: color;
$global-Semantic-Warning-Warning-700-value: #ad6f17;
$global-Semantic-Warning-Warning-700-type: color;
$global-Semantic-Warning-Warning-500-value: #f1ae2f;
$global-Semantic-Warning-Warning-500-type: color;
$global-Semantic-Warning-Warning-300-value: #fad981;
$global-Semantic-Warning-Warning-300-type: color;
$global-Semantic-Warning-Warning-100-value: #fef5d5;
$global-Semantic-Warning-Warning-100-type: color;
$global-Semantic-Success-Success-900-value: #003a39;
$global-Semantic-Success-Success-900-type: color;
$global-Semantic-Success-Success-700-value: #005744;
$global-Semantic-Success-Success-700-type: color;
$global-Semantic-Success-Success-500-value: #007a47;
$global-Semantic-Success-Success-500-type: color;
$global-Semantic-Success-Success-300-value: #56d787;
$global-Semantic-Success-Success-300-type: color;
$global-Semantic-Success-Success-100-value: #c6f8cf;
$global-Semantic-Success-Success-100-type: color;
$global-Semantic-Info-Info-900-value: #002033;
$global-Semantic-Info-Info-900-type: color;
$global-Semantic-Info-Info-700-value: #006199;
$global-Semantic-Info-Info-700-type: color;
$global-Semantic-Info-Info-500-value: #00a1ff;
$global-Semantic-Info-Info-500-type: color;
$global-Semantic-Info-Info-300-value: #66c7ff;
$global-Semantic-Info-Info-300-type: color;
$global-Semantic-Info-Info-100-value: #ccecff;
$global-Semantic-Info-Info-100-type: color;
$global-Accent-Accent-900-value: #331100;
$global-Accent-Accent-900-type: color;
$global-Accent-Accent-700-value: #993300;
$global-Accent-Accent-700-type: color;
$global-Accent-Accent-500-value: #ff5500;
$global-Accent-Accent-500-type: color;
$global-Accent-Accent-300-value: #ff9966;
$global-Accent-Accent-300-type: color;
$global-Accent-Accent-100-value: #ffddcc;
$global-Accent-Accent-100-type: color;
